* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 1920px;
}
/* ESTILOS PARA LOS TITULOS */

h2 {
  color: #f8b400;
  font-size: 70px;
  font-weight: bold;
}

/* ESTILOS PARA EL HEADER */

header {
  align-items: center;
  background-color: #330b14;
  color: #ffffff;
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-height: 200px;
  max-width: 1920px;
  /* padding: 0 160px; */
  width: 100%;
}
.brand {
  display: flex;
  align-items: center;
  padding-left: 160px;
}
.brand h1 {
  padding-left: 32px;
  font-size: 25px;
  font-weight: 400;
}
.inicio {
  padding-left: 243px;
}

/* ESTILOS PARA EL BOTON DE CONTACTO */
.btn {
  height: 75px;
  width: 275px;
  padding-right: 160px;
}
.contacto {
  background-color: #f8b400;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  height: 75px;
  width: 275px;
}

.contacto-ad {
  background-color: #f8b400;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  height: 75px;
  width: 500px;
}
/* ESTILOS PARA EL HOME */

.home {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 880px;
}
.contenedor-home {
  display: flex;
  width: 1760px;
  height: 720px;
  padding-top: 160px;
}

.contenedor-titulo {
  width: 713px;
  height: 364px;
  padding-left: 160px;
}

.descripcion {
  font-size: 40px;
  font-weight: 400;
  padding-top: 35px;
}

/* ESTILOS PARA EL ANUNCIO */

.ad {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
}

.contenedor-ad {
  display: flex;
  width: 1760px;
  height: 720px;
  padding-top: 160px;
}
.contenedor-titulo-ad {
  width: 974px;
  height: 442px;
  padding-left: 160px;
}

.descripcion-ad {
  font-size: 40px;
  font-weight: 400;
  padding-top: 35px;
  padding-bottom: 100px;
}

/* ESTILOS PARA LA HISTORIA */

.history {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
}

.contenedor-history {
  display: flex;
  width: 1760px;
  height: 720px;
  padding-top: 160px;
  text-align: center;
}
.contenedor-titulo-history {
  width: 1364px;
  height: 329px;
  padding-left: 278px;
}

.descripcion-history {
  font-size: 40px;
  font-weight: 400;
  padding-top: 100px;
  padding-bottom: 428px;
}
/* ESTILOS PARA EL FOOTER */

footer {
  background-color: #330b14;
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 175px;
  max-width: 1920px;
  width: 100%;
}

/* ESTILOS PARA EL BOTON DE REDES SOCIALES */
.socialContainer {
  display: flex;
  font-size: 40px;
  height: 100px;
  justify-content: space-between;
  padding: 30px 0;
  width: 675px;
}

.redes {
  align-items: center;
  border-radius: 10px;
  color: #fff;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 150px;
  text-decoration: none;
}
.redes:hover {
  opacity: 0.8;
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #1da1f2;
}
.instagram {
  background: linear-gradient(0deg, rgba(214, 41, 118, 1) 0%, rgba(250, 126, 30, 1) 100%);
}
.youtube {
  background-color: #ff0000;
}

.comptext {
  width: 40%;
  text-align: center;
  margin: auto;
}

.comptext h3 {
  font-size: 70px;
  color: #f8b400;
}

.comptext p {
  font-size: 45px;
}

input {
  padding: 12px 20px;
  margin: 10px 10px 20px 10px;
  font-size: 25px;
  border-radius: 10px;
  width: 40%;
  border: 1px solid black;
}

.mensaje {
  width: 88%;
  height: 200px;
  padding: 12px 20px ;
  margin: 10px 10px 20px 10px;
  font-size: 40px;
  border-radius: 10px;
  border: 1px solid black;
}

.btcont {
  padding: 25px;
  margin: 10px 10px 20px 10px;
  font-size: 25px;
  border-radius: 10px;
  background-color: #f8b400;
  border: 1px solid #f8b400;
  color: white;
}
